version: "3.9"

services:
  network-scanner:
    build: .
    image: network-scanner:latest
    container_name: network-scanner

    network_mode: host
    pid: host
    privileged: true

    restart: unless-stopped

    env_file:
      - .env

    environment:
      PLUGIN_UUID: ${PLUGIN_UUID}
      INTERVAL: ${INTERVAL}
      BYTE_LIMIT: ${BYTE_LIMIT}
      NETWORK: ${NETWORK}
