services:
  network-scanner:
    build: .
    image: network-scanner:latest
    container_name: network-scanner

    network_mode: host
    pid: host
    privileged: true

    restart: unless-stopped

    env_file:
      - .env
